html, body {
  background-color: black;
  min-height: 100%;
  height: 100%;
}

.container {
  background-color: orange;
  min-height: 100%;
  height: 100%;
  color: white;

}

.the-li a {
  text-decoration: none;
  color: orange;
}

.the-li {
  text-decoration: none;
  color: black;
}

.h44 {
  color: orange;
}

.clicker {
  float: right;
}

.glyphicon {
  padding: 5px;
}
