<div ng-show="user.questions.length">


  <h2>Question List for {{ user.name }}</h2>
  <div>
    <ul class="list-group the-ul">
      <h4 class="h44">Unanswered Questions</h4>
      <li class="list-group-item the-li" ng-repeat="item in user.questions">
        <div>{{ item.name }}
          <!-- <a class="clicker" ng-click="editing = true" ng-hide="editing">Add an answer</a> -->
        </div>
        <!-- <span class="form-group" ng-show="editing" ng-submit="editing = false"> -->
          <form class="form-inline" role="form" ng-submit="addAnswer(item, answer)">
            <input type="text" id="answer" class="form-control input-sm" ng-model="answer" placeholder="Answer" required/>
            <button class="btn btn-default btn-sm" type="submit">Save</button>
          </form>
        <!-- </span> -->
      </li>
    </ul>
  </div>
  <div "item.answers.length !== 0">
    <ul class="list-group the-ul">
      <h4 class="h44">Answered Questions</h4>
      <li class="list-group-item the-li" ng-repeat="item in user.questions">
        <div>{{ item.name }}<br>
          <span>
            {{ item.vote }} <a ng-click="upVote(item)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
            <a ng-click="downVote(item)"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
          </span>
          <ul>
            <li ng-click="editing = true" ng-hide="editing" ng-repeat="one_answer in item.answers">
              {{ one_answer }}
            </li>
          </ul>
          <span ng-show="item.approval"><span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <a ng-click="disapprove(item)">Disapprove</a>
          </span>
          <span ng-show="!item.approval">
            <a ng-click="approve(item)">Approve</a>
          </span>
          <a ui-sref="users.questions.comments({ questionId: item.id })">Add Comment</a>
          <a class="clicker" ng-click="addAnswer(item)" ng-click="editing = true" ng-hide="editing">Add another answer</a>
        </div>
        <span class="form-group" ng-show="editing" ng-submit="editing = false">
          <form class="form-inline" role="form">
            <input type="text" class="form-control input-sm" ng-model="item.answer" placeholder="Answer" required/>
            <button class="btn btn-default btn-sm" type="submit">Save</button>
          </form>
        </span>
      </li>
    </ul>
  </div>
</div>

<div ng-show="user">
  <h2>Add a question to {{ user.name }}</h2>
  <form ng-submit="addQuestion()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="questionName" class="form-control" placeholder="Enter the question">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
